<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .todosList {
      width: 45%;
      border: 3px solid black;
      padding: 1rem;
    }

    .todoInfo {
      width: 40%;
      border: 3px solid black;
      padding: 1rem;
      margin-top: 1rem;
      float: left;
    }

    .link-style{
      margin-left: 0.5rem;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <p>todos works!</p>
  <div class="todosList">
    <form>
      <!-- <input type="text" #addTodoInput />
    <button (click)="addTodo($event, addTodoInput.value)">Add todo</button> -->
      <input type="text" [(ngModel)]="newTodoTitle" name="todoTitle" />
      <button (click)="addTodo($event)">Add todo</button>
    </form>
    <h3>{{ newTodoTitle }}</h3>
    <ul>
      <li *ngFor="let todo of todos">
        {{ todo.title }}
        <input type="checkbox" [checked]="todo.completed" />
        <button (click)="deleteTodo(todo.id)">X</button>
        <a class="link-style" [routerLink]="[todo.id]">todo info</a>
      </li>
    </ul>
  </div>
  <div class="todoInfo">
    <router-outlet></router-outlet>
  </div>
</body>
</html>

