<!-- <h1>HELLO ANGULAR</h1> -->
<!-- <app-test></app-test> -->
<!-- <app-todos></app-todos> -->

<!-- <app-parent></app-parent> -->

<h1>App component</h1>
<!-- <a routerLink="/dashboard/sd56fsdbfb77">Lazy module (child)</a> <br /> -->
<a routerLink="/todos">Todos</a> <br /><br /><br />
<router-outlet></router-outlet>
